
.lbl {
color: white;
}

.err {
    color: red;
    font-style:italic;
}

#imgLogo {
    margin-left: 38px; 
    margin-top: 11px;
}

#masterFooter {
    clear: both; 
    width: 1028px; 
    height: 25px; 
    background-color: CaptionText; 
    margin-top: 5px; 
    opacity: .8;
}

#loginContainer {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 500px; 
    height: 300px; 
    margin-top: -150px; 
    margin-left: -250px;
}

#calendars {
    float: left
}

#toppingsGridView {
float: left;
}

#toppingFormContainer {
    width: 100%; 
    height: 99%; 
    float: right; 
    width: 715px;
}

#toppingForm {
    position: absolute; 
    top: 50%; 
    left: 55%;
}

#divLogin {
    height: 268px; 
    width: 497px;  
    background-color: #d62a2a
}

#btnLogo {
    padding-left: 40px;
}

#masterBody {
    background-color: #e4d1b8;
    height: 100%;
}

#header {
    width: auto; 
    height: 120px; 
    background-image: url(/MaryPizzeria/images/banner.jpg); 
    margin: auto
}

#buttons {
    width: auto; 
    padding-top: 11px;
    float: right;
}

#rbuttons {
    width: 200px;
}

#container {
    background-color: #e4d1b8; 
    width: 1028px; 
    height: 768px; 
    margin:auto; 

}

#contentHome {
    margin-top: 5px; 
    background-color: CaptionText; 
    width: 1008px; 
    height: 800px; 
    padding:10px;
    opacity: .8;
}

#imgContainer {
    margin: auto; 
    width: 950px;
}

#contentOrders {
    margin-top: 5px; 
    background-color: CaptionText; 
    width: 1008px; 
    height: auto; 
    padding: 10px;
    opacity: .8;
}

#contentToppings {
    margin-top: 5px; 
    background-color: CaptionText; 
    width: 1008px; 
    height: 665px; 
    padding: 10px;
    opacity: .8;
}